<div *ngIf="identity" class="navigation col-md-2">
  <h1 class="head-title">
    <a [routerLink]="['/']">
      {{title}}
    </a>
  </h1>
  <nav id="navigation">
      <a [routerLink]="['/tasks']" [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          Tareas
        </a>
  </nav>
  <nav id="user_logged" >
      <div class="user-image" >
          <img id="image-logged"  src="{{url + 'get-image-user/' + identity.image}}"/>
      </div>
      <span id="identity_name">
        {{identity.name}}
      </span> 
      <a [routerLink]="['/mis-datos']" [routerLinkActive]="['active']">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        Mis datos
      </a>
      <a  (click)="logout()" class="btn-logout">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        Salir
      </a>
    </nav>
</div>

<div [class.hidden]="!identity" class="central col-md-10">
  <router-outlet></router-outlet>
</div>

<div *ngIf="!identity" class="col-lg-11">
  <div class="col-lg-6">
    <h1>Identificate</h1>
    <div *ngIf="errorMessage">
        <div class="alert alert-info">
            <strong>Error!</strong> {{errorMessage}}
        </div>
    </div>

    <form class="col-md-7" (ngSubmit)="onSubmit()" #loginform="ngForm">
      <p>
        <label>Email:</label>
        <input #email="ngModel" name="email" [(ngModel)]="user.email" type="email" class="form-control" required/>
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio
        </span>
      </p>
      <p>
          <label>Contraseña:</label>
          <input #password="ngModel" name="password" [(ngModel)]="user.password" type="password" class="form-control" required/>
      </p>
      <p>
            <input type="submit" value="Entrar" class="btn btn-primary" />
        </p>
    </form>
  </div>
  <div class="col-lg-6">
    <h1>Registrate</h1>
      <div *ngIf="alertRegister">
        <div class="alert alert-info">
             {{alertRegister}}
        </div>
      </div>
    <form class="col-md-10" #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" >
        <p>
          <label>Nombre:</label>
          <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required/>
        </p>
        <p>
            <label>Apellidos:</label>
            <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control" required/>
        </p>
        <p>
          <label>Email:</label>
          <input #email="ngModel" name="email" [(ngModel)]="user_register.email" type="email" class="form-control" required/>
        </p>
        <p>
            <label>Contraseña:</label>
            <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="form-control" required/>
        </p>
        <p>
              <input type="submit" value="Registrar" class="btn btn-primary" />
          </p>
      </form>
  </div>
</div>


