<div *ngIf="identity" class="navigation col-md-1" >
  <h1 class="head-title">
    <a [routerLink]="['/']"> <i class="far  fa-calendar-alt "></i>  Home </a>
  </h1>
  <nav id="navigation" class="icon-menu" >
      <a [routerLink]="['/agenda']" [routerLinkActive]="['active']"> <i class="far fa-address-book"></i>  Agenda </a>
      <a [routerLink]="['/game']" [routerLinkActive]="['active']"> <i class="fas fa-gamepad"></i>  Nivel 3</a>
  </nav>
  <nav id="user_logged" >
      <div class="user-image" >
          <img id="image-logged"  src="{{url + 'get-image-user/' + identity.image}}"/>
      </div>
      
      <span id="identity_name">
        {{identity.name}}
      </span>
      <!-- <div >
        Partidas: <p id="partidas">{{identity.partidas}}</p>
      </div>  -->
      <a [routerLink]="['/mis-datos']" [routerLinkActive]="['active']">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        Mis datos
      </a>
      <a  (click)="logout()" class="btn-logout">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        Salir
      </a>
    </nav>
</div>

<div [class.hidden]="!identity" class="central col-md-11">
  <router-outlet></router-outlet>
</div>

<div *ngIf="!identity" id="principal" class="row">
  <div class="col-lg-12" style="text-align:center;">
      <H1 id="logo"><i class="far  fa-calendar-alt "></i>  CALENDAR</H1>
      <button class="btn btn-index" id="prueba2">Login</button>
      <button class="btn btn-index" id="prueba">Registro</button>        
  </div>
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <form class="col-md-6" id="login" (ngSubmit)="onSubmit()" #loginform="ngForm">
        <h1>Identificate</h1>
        <div *ngIf="errorMessage">
            <div class="alert alert-info">
                <strong>Error!</strong> {{errorMessage}}
            </div>
        </div>
      <p>
        <label>Email:</label>
        <input #email="ngModel" name="email" [(ngModel)]="user.email" type="email" class="form-control" required/>
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio
        </span>
      </p>
      <p>
          <label>Contraseña:</label>
          <input #password="ngModel" name="password" [(ngModel)]="user.password" type="password" class="form-control" required/>
      </p>
      <p>
            <input type="submit" value="Entrar" class="btn btn-green" />
        </p>
    </form>
  </div>
  <div class="col-md-2"></div>

  
  <div class="col-md-5"></div>
  <div class="col-md-4" style="display: none" id="formulario_registro"> 
    <form class="col-md-6" #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">
      <h1>Registrate</h1>
      <div *ngIf="alertRegister">
        <div class="alert alert-info">
             {{alertRegister}}
        </div>
      </div>
        <p>
          <label>Nombre:</label>
          <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required/>
        </p>
        <p>
            <label>Apellidos:</label>
            <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control" required/>
        </p>
        <p>
          <label>Email:</label>
          <input #email="ngModel" name="email" [(ngModel)]="user_register.email" type="email" class="form-control" required/>
        </p>
        <p>
            <label>Contraseña:</label>
            <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="form-control" required/>
        </p>
        <p>
              <input type="submit" value="Registrar" class="btn btn-red" />
          </p>
      </form>
  </div>
  <div class="col-md-2"></div>
</div>


