<div *ngIf="identity" class="head-page">
    <div class="col-md-4">    
        <div  id="list-tasks"  class="col-md-12" *ngIf="tasks">
                <h3>Tareas sin planificar</h3>
                 
                    <div  *ngFor="let task of tasks" class="col-md-6">
                            <div class=" text-white bg-info " id="tasks" *ngIf="task.type=='liquida' && !task.colocado"  [routerLink]="['/update-task/',task._id]" >
                                <div   class="card text-white bg-info">                                         
                                    <div class="card-header">{{task.title}} {{task.localizacion}}</div>
                                
                                </div>
                            </div>
                        <div class=" card text-white bg-danger " id="tasks"  *ngIf="task.type=='solida' && !task.colocado" [routerLink]="['/update-task/',task._id]" >
                            <div  class=" card text-white bg-danger">
                                <div class="card-header">{{task.title}} {{task.localizacion}}</div>
                                <p>Fecha:{{task.start.slice(5,10)}}-2018</p>
                            </div>
                        </div>
                       
                    </div>
                
        </div>
        <div  id="list-tasks"  class="col-md-12" *ngIf="tasks">
        
            <h3>Tareas planificadas</h3>
                        <div  *ngFor="let task of tasks" class="col-md-6"  >
                                <div class=" card text-white bg-danger " id="tasks"  *ngIf="task.type=='solida' && task.colocado" [routerLink]="['/update-task/',task._id]" >
                                    <div  class=" card text-white bg-danger">
                                        <div class="card-header">{{task.title}} {{task.localizacion}}</div>
                                        <p>Fecha:{{task.start.slice(5,10)}}-2018</p>
                                    </div>
                                </div>
                                <div class=" text-white bg-info" id="tasks" *ngIf="task.type=='liquida' && task.colocado"  [routerLink]="['/update-task/',task._id]" >
                                    <div   class="card text-white bg-info">                                        
                                    <div class="card-header">{{task.title}} {{task.localizacion}}</div>
                                    <p >Fecha:{{task.start.slice(5,10)}}-2018</p>
                                    </div>
                                </div>
                           
                           
                        </div>
                
        </div>
       
    </div>
    <div  class="col-md-8">
        <div class="row list-tareas">
                <div class="col-md-2" style="text-align:left;">
                    
                        <a  class="btn btn-evaluar" (click)="onDeleteTask()">
                                Evaluar
                        </a>
                        <!-- <input type="file" (change)="leerArchivo($event)" id="file-input" /> -->
                        
                </div>
                <div class="col-md-10" >
                    <p>Display event : {{displayEvent | json}}</p>
                </div>

        </div>


        <div  id="calendarOptions" class="list-tareas" >
            <ng-fullcalendar #ucCalendar   [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)" (clickButton)="clickButton($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
        </div>
    </div>
</div>