<div *ngIf="identity" class="row">
    <div class="col-md-5" id="tareas" >    
        <div  class="col-md-12" >
                <h3 id="tareas_planificar" >Tareas sin planificar</h3>
                <div id="planificar" style="display:none;">
                    <div  *ngFor="let task of tasks" class="col-md-6" id="listado" (click)="getTask(task._id)">
                        <div class=" text-white bg-info " id="tasks"  style="background-color: #2E6368;border-color: #2E6368;" *ngIf="task.type=='liquida importante trabajo' && !task.colocado" [routerLink]="['/update-task/',task._id]">
                            <div   class="card text-white bg-info" style="background-color: #2E6368;border-color: #2E6368;">                                         
                                <div class="card-header">{{task.title}} {{task.localizacion}} {{task.type}}</div>
                                
                            </div>
                        </div>
                        <div class=" text-white bg-info " id="tasks" style="background-color: #265256;border-color: #265256;" *ngIf="task.type=='liquida importante personal' && !task.colocado"  [routerLink]="['/update-task/',task._id]" >
                            <div   class="card text-white bg-info" style="background-color: #265256;border-color: #265256;">                                         
                                <div class="card-header">{{task.title}} {{task.localizacion}} {{task.type}}</div>
                                
                            </div>
                        </div>
                        <div class=" text-white bg-info " id="tasks" style="background-color: #357379;border-color: #357379;" *ngIf="task.type=='liquida urgente trabajo' && !task.colocado"  [routerLink]="['/update-task/',task._id]" >
                            <div   class="card text-white bg-info" style="background-color: #357379;border-color: #357379;">                                         
                                <div class="card-header">{{task.title}} {{task.localizacion}} {{task.type}}</div>
                              
                            </div>
                        </div>
                        <div class=" text-white bg-info " id="tasks" style="background-color: #3D838A;border-color: #3D838A;" *ngIf="task.type=='liquida urgente personal' && !task.colocado"  [routerLink]="['/update-task/',task._id]" >
                            <div   class="card text-white bg-info" style="background-color: #3D838A;border-color: #3D838A;">                                         
                                <div class="card-header">{{task.title}} {{task.localizacion}} {{task.type}}</div>
                                
                            </div>
                        </div>
                        <div class=" text-white bg-info " id="tasks" style="background-color: #53B4BD;border-color: #53B4BD;" *ngIf="task.type=='liquida trabajo' && !task.colocado"  [routerLink]="['/update-task/',task._id]" >
                            <div   class="card text-white bg-info" style="background-color: #53B4BD;border-color: #53B4BD;">                                         
                                <div class="card-header">{{task.title}} {{task.localizacion}} {{task.type}}</div>
                                
                            </div>
                        </div>
                        <div class=" text-white bg-info " id="tasks" style="background-color: #62BAC3;border-color: #62BAC3;" *ngIf="task.type=='liquida personal' && !task.colocado"  [routerLink]="['/update-task/',task._id]" >
                            <div   class="card text-white bg-info" style="background-color: #62BAC3;border-color: #62BAC3;">                                         
                                <div class="card-header">{{task.title}} {{task.localizacion}} {{task.type}}</div>
                                
                            </div>
                        </div>
                       
                    <div class=" card text-white bg-danger "  style="background-color: #C74F4E;border-color: #C74F4E;"id="tasks"  *ngIf="task.type=='solida trabajo' && !task.colocado" [routerLink]="['/update-task/',task._id]" >
                        <div  class=" card text-white bg-danger">
                            <div class="card-header">{{task.title}} {{task.localizacion}} {{task.type}}</div>
                            
                            
                        </div>
                    </div>
                    <div class=" card text-white bg-danger " style="background-color: #591D1C;border-color: #591D1C;" id="tasks"  *ngIf="task.type=='solida importante trabajo' && !task.colocado" [routerLink]="['/update-task/',task._id]" >
                        <div  class=" card text-white bg-danger" style="background-color: #591D1C;border-color: #591D1C;">
                            <div class="card-header">{{task.title}} {{task.localizacion}} {{task.type}}</div>
                            
                            
                        </div>
                    </div>
                    <div class=" card text-white bg-danger " style="background-color: #6A2222;border-color: #6A2222;" id="tasks"  *ngIf="task.type=='solida importante personal' && !task.colocado" [routerLink]="['/update-task/',task._id]" >
                        <div  class=" card text-white bg-danger" style="background-color: #6A2222;border-color: #6A2222;">
                            <div class="card-header">{{task.title}} {{task.localizacion}} {{task.type}}</div>
                            
                            
                        </div>
                    </div>
                    <div class=" card text-white bg-danger " style="background-color: #8E2E2D;border-color: #8E2E2D;" id="tasks"  *ngIf="task.type=='solida urgente trabajo' && !task.colocado" [routerLink]="['/update-task/',task._id]" >
                        <div  class=" card text-white bg-danger" style="background-color: #8E2E2D;border-color: #8E2E2D;">
                            <div class="card-header">{{task.title}} {{task.localizacion}} {{task.type}}</div>
                           
                       
                        </div>
                    </div>
                    <div class=" card text-white bg-danger " style="background-color: #9F3332;border-color: #9F3332;" id="tasks"  *ngIf="task.type=='solida urgente personal' && !task.colocado" [routerLink]="['/update-task/',task._id]" >
                        <div  class=" card text-white bg-danger" style="background-color: #9F3332;border-color: #9F3332;">
                            <div class="card-header">{{task.title}} {{task.localizacion}} {{task.type}}</div>
                            
                            
                        </div>
                    </div>
                    <div class=" card text-white bg-danger " style="background-color: #CD6160;border-color: #CD6160;" id="tasks"  *ngIf="task.type=='solida  personal' && !task.colocado" [routerLink]="['/update-task/',task._id]" >
                        <div  class=" card text-white bg-danger" style="background-color: #CD6160;border-color: #CD6160;">
                            <div class="card-header">{{task.title}} {{task.localizacion}} {{task.type}}</div>
                           
                            
                        </div>
                    </div>
                </div>
                </div>
               
                
        </div>
        <div   class="col-md-12" >
        
            <h3 id="tareas_planificadas" style="cursor:pointer;">Tareas planificadas</h3>
            <div id="planificadas"  >
                <div  *ngFor="let task of tasks" class="col-md-6">
                    <div class=" text-white bg-info " id="tasks" style="background-color: #1F4245;border-color: #1F4245;" *ngIf="task.type=='liquida importante trabajo' && task.colocado"  [routerLink]="['/update-task/',task._id]" >
                        <div   class="card text-white bg-info" style="background-color: #1F4245;border-color: #1F4245;">                                         
                            <div class="card-header">Titulo:{{task.title}} </div>
                            <div *ngIf="task.localizacion" class="card-header">Localizacion:{{task.localizacion}} </div>
                            <div *ngIf="task.start"class="card-header" >Fecha:{{task.start.slice(5,10)}}-2018</div>
                        </div>
                    </div>
                    <div class=" text-white bg-info " id="tasks" style="background-color: #265256;border-color: #265256;" *ngIf="task.type=='liquida importante personal' && task.colocado"  [routerLink]="['/update-task/',task._id]" >
                        <div   class="card text-white bg-info" style="background-color: #265256;border-color: #265256;">                                         
                            <div class="card-header">Titulo:{{task.title}} </div>
                            <div *ngIf="task.localizacion" class="card-header">Localizacion:{{task.localizacion}} </div>
                            <div *ngIf="task.start"class="card-header" >Fecha:{{task.start.slice(5,10)}}-2018</div>
                        </div>
                    </div>
                    <div class=" text-white bg-info " id="tasks" style="background-color: #357379;border-color: #357379;" *ngIf="task.type=='liquida urgente trabajo' && task.colocado"  [routerLink]="['/update-task/',task._id]" >
                        <div   class="card text-white bg-info" style="background-color: #357379;border-color: #357379;">                                         
                            <div class="card-header">Titulo:{{task.title}} </div>
                            <div *ngIf="task.localizacion" class="card-header">Localizacion:{{task.localizacion}} </div>
                            <div *ngIf="task.start"class="card-header" >Fecha:{{task.start.slice(5,10)}}-2018</div>
                        </div>
                    </div>
                    <div class=" text-white bg-info " id="tasks" style="background-color: #3D838A;border-color: #3D838A;" *ngIf="task.type=='liquida urgente personal' && task.colocado"  [routerLink]="['/update-task/',task._id]" >
                        <div   class="card text-white bg-info" style="background-color: #3D838A;border-color: #3D838A;">                                         
                            <div class="card-header">Titulo:{{task.title}} </div>
                            <div *ngIf="task.localizacion" class="card-header">Localizacion:{{task.localizacion}} </div>
                            <div *ngIf="task.start"class="card-header" >Fecha:{{task.start.slice(5,10)}}-2018</div>
                        </div>
                    </div>
                    <div class=" text-white bg-info " id="tasks" style="background-color: #53B4BD;border-color: #53B4BD;" *ngIf="task.type=='liquida trabajo' && task.colocado"  [routerLink]="['/update-task/',task._id]" >
                        <div   class="card text-white bg-info" style="background-color: #53B4BD;border-color: #53B4BD;">                                         
                            <div class="card-header">Titulo:{{task.title}} </div>
                            <div *ngIf="task.localizacion" class="card-header">Localizacion:{{task.localizacion}} </div>
                            <div *ngIf="task.start"class="card-header" >Fecha:{{task.start.slice(5,10)}}-2018</div>
                        </div>
                    </div>
                    <div class=" text-white bg-info " id="tasks" style="background-color: #62BAC3;border-color: #62BAC3;" *ngIf="task.type=='liquida personal' && task.colocado"  [routerLink]="['/update-task/',task._id]" >
                        <div   class="card text-white bg-info" style="background-color: #62BAC3;border-color: #62BAC3;">                                         
                            <div class="card-header">Titulo:{{task.title}} </div>
                            <div *ngIf="task.localizacion" class="card-header">Localizacion:{{task.localizacion}} </div>
                            <div *ngIf="task.start" class="card-header" >Fecha:{{task.start.slice(5,10)}}-2018</div>
                        </div>
                    </div>
                   
                <div class=" card text-white bg-danger "  style="background-color: #C74F4E;border-color: #C74F4E;"id="tasks"  *ngIf="task.type=='solida trabajo' && task.colocado" [routerLink]="['/update-task/',task._id]" >
                    <div  class=" card text-white bg-danger">
                        <div class="card-header">Titulo:{{task.title}} </div>
                        <div *ngIf="task.localizacion" class="card-header">Localizacion:{{task.localizacion}} </div>
                        <div *ngIf="task.start"class="card-header" >Fecha:{{task.start.slice(5,10)}}-2018</div>
                        
                    </div>
                </div>
                <div class=" card text-white bg-danger " style="background-color: #591D1C;border-color: #591D1C;" id="tasks"  *ngIf="task.type=='solida importante trabajo' && task.colocado" [routerLink]="['/update-task/',task._id]" >
                    <div  class=" card text-white bg-danger" style="background-color: #591D1C;border-color: #591D1C;">
                        <div class="card-header">Titulo:{{task.title}} </div>
                            <div *ngIf="task.localizacion" class="card-header">Localizacion:{{task.localizacion}} </div>
                            <div *ngIf="task.start"class="card-header" >Fecha:{{task.start.slice(5,10)}}-2018</div>
                        
                    </div>
                </div>
                <div class=" card text-white bg-danger " style="background-color: #6A2222;border-color: #6A2222;" id="tasks"  *ngIf="task.type=='solida importante personal' && task.colocado" [routerLink]="['/update-task/',task._id]" >
                    <div  class=" card text-white bg-danger" style="background-color: #6A2222;border-color: #6A2222;">
                        <div class="card-header">Titulo:{{task.title}} </div>
                        <div *ngIf="task.localizacion" class="card-header">Localizacion:{{task.localizacion}} </div>
                        <div *ngIf="task.start"class="card-header" >Fecha:{{task.start.slice(5,10)}}-2018</div>
                        
                    </div>
                </div>
                <div class=" card text-white bg-danger " style="background-color: #8E2E2D;border-color: #8E2E2D;" id="tasks"  *ngIf="task.type=='solida urgente trabajo' && task.colocado" [routerLink]="['/update-task/',task._id]" >
                    <div  class=" card text-white bg-danger" style="background-color: #8E2E2D;border-color: #8E2E2D;">
                        <div class="card-header">Titulo:{{task.title}} </div>
                        <div *ngIf="task.localizacion" class="card-header">Localizacion:{{task.localizacion}} </div>
                        <div *ngIf="task.start"class="card-header" >Fecha:{{task.start.slice(5,10)}}-2018</div>
                   
                    </div>
                </div>
                <div class=" card text-white bg-danger " style="background-color: #9F3332;border-color: #9F3332;" id="tasks"  *ngIf="task.type=='solida urgente personal' && task.colocado" [routerLink]="['/update-task/',task._id]" >
                    <div  class=" card text-white bg-danger" style="background-color: #9F3332;border-color: #9F3332;">
                        <div class="card-header">Titulo:{{task.title}} </div>
                            <div *ngIf="task.localizacion" class="card-header">Localizacion:{{task.localizacion}} </div>
                            <div *ngIf="task.start"class="card-header" >Fecha:{{task.start.slice(5,10)}}-2018</div>
                        
                    </div>
                </div>
                <div class=" card text-white bg-danger " style="background-color: #CD6160;border-color: #CD6160;" id="tasks"  *ngIf="task.type=='solida  personal' && task.colocado" [routerLink]="['/update-task/',task._id]" >
                    <div  class=" card text-white bg-danger" style="background-color: #CD6160;border-color: #CD6160;">
                        <div class="card-header">Titulo:{{task.title}} </div>
                        <div *ngIf="task.localizacion" class="card-header">Localizacion:{{task.localizacion}} </div>
                        <div *ngIf="task.start"class="card-header" >Fecha:{{task.start.slice(5,10)}}-2018</div>
                        
                    </div>
                </div>
            </div>
            </div>
                       
        </div>
    </div>
    <div class="col-md-5"  id="resultados" style="display:none;">
        <div class="col-md-12">
                <h3 >Mal planificadas</h3>
                <div  *ngFor="let task of mal_planificadas" class="col-md-6">
                        <div>
                            <div   >                                         
                                <div class="card-header">{{task.title}} </div>
                                
                            </div>
                        </div>
                       
                </div>
                
        </div>
        <div class="col-md-12">
                <h3 >Bien planificadas</h3>
                <div  *ngFor="let task of bien_planificadas" class="col-md-6">
                        <div>
                            <div>                                         
                                <div class="card-header">{{task.title}} </div>
                                
                            </div>
                        </div>
                    </div>
        </div>
        <div>
            {{puntos}}
        </div>
    </div>
    <div class="col-md-5"  id="formulario" style="display: none;">
            <div class="col-md-12">
                    <form #formTask="ngForm" (ngSubmit)="onSubmit()">
                            <p>
                                    <label>Título:</label>
                                    <input type="text" #title="ngModel" name="title" [(ngModel)]="task.title" class="form-control" required/>
                                  </p>
                                 
                                  <p>
                                    <label>Localización:</label>
                                    <input type="text" #localizacion="ngModel" name="localizacion" [(ngModel)]="task.localizacion" class="form-control" required/>
                                </p>
                                  <p>
                                    <label>Fecha de inicio:</label>
                                    <input #start="ngModel" name="start" [(ngModel)]="task.start" type="datetime-local"  class="form-control" required/>
                                  </p>
                                  <p>
                                    <label>Fecha de fin:</label>
                                    <input #end="ngModel" name="end" [(ngModel)]="task.end" type="datetime-local" class="form-control" required/>
                                  </p>
                                  <p>
                                    <label>Duracion</label>
                                    <input #duration="ngModel" name="duration" [(ngModel)]="task.duration" type="text" class="form-control" required/>
                                  </p>
                                  <p>
                                    <label>Tipo:</label>
                                    <select type="options" #type="ngModel" name="type" [(ngModel)]="task.type" value="task.type" class="form-control" required>
                                    
                                        <option value="solida importante personal">solida importante personal</option>
                                        <option value="solida importante trabajo">solida importante trabajo</option>
                                        <option value="solida urgente personal">solida urgente personal</option>
                                        <option value="solida urgente trabajo">solida urgente trabajo</option>
                                        <option value="solida personal">solida personal</option>
                                        <option value="solida trabajo">solida trabajo</option>
                                        <option value="liquida importante personal">liquida importante personal</option>
                                        <option value="liquida importante trabajo">liquida importante trabajo</option>
                                        <option value="liquida urgente personal">liquida urgente personal</option>
                                        <option value="liquida urgente trabajo">liquida urgente trabajo</option>
                                        <option value="liquida personal">liquida personal</option>
                                        <option value="liquida trabajo">liquida trabajo</option>
                                    </select>
                                    
                                  </p>
                                  <P>
                                    <input (click)="actualizar()"  id="actualizar" class="btn btn-success" value="Actualizar"  />
                                  </P>
                          <P>
                            <input  (click)="onDeleteTask(task._id)" class="btn btn-danger" value="Eliminar"  />
                          </P>
                    </form>
            </div>
               
    </div>
    <div  class="col-md-7">
        <div class="row list-tareas">
                <div class="col-md-2" id="reloj">
                    <p>{{minutes}}:{{seconds}}</p>      
                </div>
               
                <div class="col-md-10" style="text-align: right;">
                    <a  class="btn btn-evaluar" (click)="evaluar()"  >
                        Evaluar
                    </a>
                    
                </div>
                
        </div>
        <div  id="calendarOptions" class="list-tareas" >
            <ng-fullcalendar #ucCalendar  [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)" (clickButton)="clickButton($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
        </div>
        
    </div>
</div>

