<div class="col-md-12 ">
  <!-- <div class="jumbotron">
    <h1 class="display-4">{{title}}</h1>
     <p class="col-md-4" >

      <a [routerLink]="['/agenda']" class="btn btn-index"  role="button">Agenda</a>
    </p>
    <p class="col-md-4" >
        <a [routerLink]="['/game']" class="btn btn-index"  role="button">Agenda Presidente</a>
    </p>
    <div class="col-m-6">
        <div class="" id="tasks" style="width: 18rem;" [routerLink]="['/agenda']" >
          <div   class="card text-white bg-info">
              <div  class="card-header">Agenda Personal</div>
              
          </div>
        </div>
    </div>
    <p>Modulo Agenda Personal</p>
    <div class="col-m-6">
        <p>Modulo Aprendizaje</p>
        <div class=" text-white bg-danger" id="tasks" style="width: 18rem;" [routerLink]="['/game']" >
          <div   class="card text-white bg-danger">
              <div  class="card-header">Agenda Presidente</div>
              
          </div>
        </div>
    </div>
   
  </div> -->
  <div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center;font-weight: bold;margin-bottom: 30px;">{{title}}</h1>
    </div>
    <div class="col-md-12">
        <div class="col-md-6" style="text-align: center;">
            
            <div id="agenda">
                <h2><i class="far fa-address-book icon-home"></i>  Agenda Personal </h2>
                  <h4>¿Tienes problemas a la hora de planificar tus tareas?</h4>
                  <p>Si tu respuesta es si, aqui tienes tu propia agenda personal donde llevar un control de todas tus tareas.</p>
                  <a href="agenda" class="btn btn-index"  role="button">Ver más</a>              
        
                </div> 
          </div>
          <div class="col-md-6" style="text-align: center;">
            
            <div id="nivel1">
                <h2><i class="fas fa-gamepad icon-home"></i>  Nivel 1</h2>
                <h4>¿Te crees capaz de realizar una planificación para una persona de alto cargo?</h4>
                <p>Si tu respuesta es si, accede al siguiente nivel y demuestra tus habilidades.</p>
                <a  class="btn btn-index" id="btn-cargar3"   (click)="solucion_inicial(1)" [routerLinkActive]="['active']"   role="button">Solución inicial</a>
                <a  class="btn btn-index" id="btn-juego3"    (click)="caso_base(1)" [routerLinkActive]="['active']"  role="button">Caso Base</a>
                <div  class="row descripcion_solucion" id="descripcion_solucion1" style=" text-align: left;display:none;"> 
                    <p>Caso práctico con 10 tareas a elegir entre opcion con solucion inicial o caso base.</p>
                    <p>Los tonos rojos representan las tareas solidas, que no se pueden desplazar ni el día ni la hora.</p>
                    <p>Los tonos azules representan las tareas líquidas, que se pueden desplazar el día y la hora.</p>
                    <p>Hay que dejar como mínimo 30 minutos entre actividades.</p>
                    <p>Tiempo de desplazamientos en avión:</p>
                    <li>Península Ibérica a Londres y viceversa=3 horas</li>
                    <li>Desplazamientos dentro de la Península ibérica=2 horas</li>
                </div>
              </div>
              <br>
              <div id="nivel2">
                <h2><i class="fas fa-gamepad icon-home"></i>  Nivel 2</h2>
                <h4>¿Te crees capaz de realizar una planificación para una persona de alto cargo?</h4>
                <p>Si tu respuesta es si, accede al siguiente nivel y demuestra tus habilidades.</p>
                <a  class="btn btn-index" id="btn-cargar3"   (click)="solucion_inicial(2)" [routerLinkActive]="['active']"   role="button">Solución inicial</a>
                <a  class="btn btn-index" id="btn-juego3"    (click)="caso_base(2)" [routerLinkActive]="['active']"  role="button">Caso Base</a>
                <div  class="row descripcion_solucion" id="descripcion_solucion2" style=" text-align: left;display:none;"> 
                    <p>Caso práctico con 16 tareas a elegir entre opcion con solucion inicial o caso base.</p>
                    <p>Los tonos rojos representan las tareas solidas, que no se pueden desplazar ni el día ni la hora.</p>
                    <p>Los tonos azules representan las tareas líquidas, que se pueden desplazar el día y la hora.</p>
                    <p>Hay que dejar como mínimo 30 minutos entre actividades.</p>
                    <p>Tiempo de desplazamientos en avión:</p>
                    <li>Península Ibérica a Londres y viceversa=3 horas</li>
                    <li>Desplazamientos dentro de la Península ibérica=2 horas</li>
                </div>
                </div>
                <br>
            <div id="nivel3">
              <h2><i class="fas fa-gamepad icon-home"></i>  Nivel 3</h2>
                <h4>¿Te crees capaz de realizar una planificación para una persona de alto cargo?</h4>
                <p>Si tu respuesta es si, accede al siguiente nivel y demuestra tus habilidades.</p>
                
                <a  class="btn btn-index" id="btn-cargar3"   (click)="solucion_inicial(3)" [routerLinkActive]="['active']"   role="button">Solución inicial</a>
                <a  class="btn btn-index" id="btn-juego3"    (click)="caso_base(3)" [routerLinkActive]="['active']"  role="button">Caso Base</a>
                <div  class="row descripcion_solucion" id="descripcion_solucion3" style=" text-align: left; display:none;"> 
                    <p>Caso práctico con 21 tareas a elegir entre opcion con solucion inicial o caso base.</p>
                    <p>Los tonos rojos representan las tareas solidas, que no se pueden desplazar ni el día ni la hora.</p>
                    <p>Los tonos azules representan las tareas líquidas, que se pueden desplazar el día y la hora.</p>
                    <p>Hay que dejar como mínimo 30 minutos entre actividades.</p>
                    <p>Tiempo de desplazamientos en avión:</p>
                    <li>Península Ibérica a Londres y viceversa=3 horas</li>
                    <li>Desplazamientos dentro de la Península ibérica=2 horas</li>
                </div>
            </div>
          </div>
    
        </div>     
  </div>
</div>
