<div class="row">
    <div class="col-md-4">
        <h1>{{titulo}}</h1>
        <div *ngIf="alertUpdate">
            <div class="alert alert-info">
                 {{alertUpdate}}
            </div>
        </div>
    <form #formTask="ngForm" (ngSubmit)="onSubmit()">
            <p>
                    <label>Título:</label>
                    <input type="text" #title="ngModel" name="title" [(ngModel)]="task.title" class="form-control" required/>
                  </p>
                 
                  <p>
                    <label>Localización:</label>
                    <input type="text" #localizacion="ngModel" name="localizacion" [(ngModel)]="task.localizacion" class="form-control" required/>
                </p>
                  <p>
                    <label>Fecha de inicio:</label>
                    <input #start="ngModel" name="start" [(ngModel)]="task.start" type="datetime-local"  class="form-control" required/>
                  </p>
                  <p>
                    <label>Fecha de fin:</label>
                    <input #end="ngModel" name="end" [(ngModel)]="task.end" type="datetime-local" class="form-control" required/>
                  </p>
                  <p>
                    <label>Duracion</label>
                    <input #duration="ngModel" name="duration" [(ngModel)]="task.duration" type="text" class="form-control" required/>
                  </p>
                  <p>
                    <label>Tipo:</label>
                    <select type="options" #type="ngModel" name="type" [(ngModel)]="task.type" value="task.type" class="form-control" required>
                    
                        <option value="solida importante personal">solida importante personal</option>
                        <option value="solida importante trabajo">solida importante trabajo</option>
                        <option value="solida urgente personal">solida urgente personal</option>
                        <option value="solida urgente trabajo">solida urgente trabajo</option>
                        <option value="solida personal">solida personal</option>
                        <option value="solida trabajo">solida trabajo</option>
                        <option value="liquida importante personal">liquida importante personal</option>
                        <option value="liquida importante trabajo">liquida importante trabajo</option>
                        <option value="liquida urgente personal">liquida urgente personal</option>
                        <option value="liquida urgente trabajo">liquida urgente trabajo</option>
                        <option value="liquida personal">liquida personal</option>
                        <option value="liquida trabajo">liquida trabajo</option>
                    </select>
                    <!-- <input type="text" #title="ngModel" name="title" [(ngModel)]="task.title" class="form-control" required/> -->
                  </p>
                  <P>
                    <input  (click)="onSubmit()" class="btn btn-success" value="Actualizar"  />
                  </P>
          <P>
            <input  (click)="onDeleteTask(task._id)" class="btn btn-danger" value="Eliminar"  />
          </P>
    </form>
    
</div>
<div class="col-md-7">
    <div class="row list-tareas">
        <div class="col-md-2" id="reloj">
            {{minutes}}
               
        </div>
        
</div>
  <div  id="calendarOptions" class="list-tareas" >
    <ng-fullcalendar #ucCalendar   [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)" (clickButton)="clickButton($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
  </div>
</div>
</div>

