<div *ngIf="identity" class="head-page">
    <div class="col-md-2">
        <div class="row">
            <h1>{{title}}</h1>
            <a [routerLink]="['/add-task',id]" class="btn btn-default">
               Añadir Tarea
            </a>
        </div>
        <div id="list-tasks" *ngIf="tasks">
            <div class="row">
                    <div  *ngFor="let task of tasks" [routerLink]="['/update-task/',task._id]"  style="max-width: 18rem;">
                        <div id="tasks" *ngIf="task.type=='solida'" class="card text-white bg-danger mb-3">
                                <div  class="card-header">{{task.title}}</div>
                                <div class="card-body">
                                <p class="card-text">Inicio:{{task.start}}</p>
                                <p class="card-text">Fin:{{task.end}}</p>
                                </div>
                        </div>
                        <div id="tasks" *ngIf="task.type=='liquida'" class="card text-white bg-info mb-3">
                                <div  class="card-header">{{task.title}}</div>
                                <div class="card-body">
                                <p class="card-text">Inicio:{{task.start}}</p>
                                <p class="card-text">Fin:{{task.end}}</p>
                                </div>
                        </div>      
                      </div>
            </div>
                 
        </div>
    </div>
    <div  class="col-md-10">
        <a (click)="loadevents()"> loadevents</a>
        <p>Display event : {{displayEvent | json}}</p>
        <div *ngIf="calendarOptions">
            <ng-fullcalendar #ucCalendar  [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)" (clickButton)="clickButton($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
        </div>
    </div>
</div>