<div class="col-md-4">
        <h1>{{titulo}}</h1>
        <div *ngIf="alertUpdate">
            <div class="alert alert-info">
                 {{alertUpdate}}
            </div>
        </div>
    <form #formTask="ngForm" (ngSubmit)="onSubmit()">
            <p>
                    <label>Título:</label>
                    <input type="text" #title="ngModel" name="title" [(ngModel)]="task.title" class="form-control" required/>
                  </p>
                 
                  <p>
                    <label>Localización:</label>
                    <input type="text" #localizacion="ngModel" name="localizacion" [(ngModel)]="task.localizacion" class="form-control" required/>
                </p>
                  <p>
                    <label>Fecha de inicio:</label>
                    <input #start="ngModel" name="start" [(ngModel)]="task.start" type="datetime-local" class="form-control" required/>
                  </p>
                  <p>
                    <label>Fecha de fin:</label>
                    <input #end="ngModel" name="end" [(ngModel)]="task.end" type="datetime-local" class="form-control" required/>
                  </p>
                  <p>
                    <label>Duracion</label>
                    <input #duration="ngModel" name="duration" [(ngModel)]="task.duration" type="text" class="form-control" required/>
                  </p>
                  <p>
                    <label>Tipo:</label>
                    <select type="options" #type="ngModel" name="type" [(ngModel)]="task.type" class="form-control" required>
                        <option value="liquida">Liquida</option>
                        <option value="solida">Solida</option>
                    </select>
                  </p>
        <p>
                <input (click)="onSubmit()" class="btn btn-success" value="Actualizar"  />
          </p>
          <P>
            <input  (click)="onDeleteTask(task._id)" class="btn btn-danger" value="Eliminar"  />
          </P>
    </form>
    
</div>
<div class="col-md-8">
  <div  id="calendarOptions" class="list-tareas" >
    <ng-fullcalendar #ucCalendar   [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)" (clickButton)="clickButton($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
  </div>
</div>