/* You can add global styles to this file, and also import other style files */


html,body{
    margin:0px;
    height: 100%;
    background:#F3F6FF;
    font-family: 'Nunito', sans-serif;
}
.active{
    border-bottom: 4px solid #9ABE05;
    padding-bottom: 4px;
  
}
.head-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}
#navigation{
    margin-top: 40px;
}
.navigation{
    text-align: center;
    color:#F3F6FF;
    background: #1C1C1F;
    height: 100%;
}
.navigation a{
    color: #F3F6FF;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
    font-size: 18px;
}
.navigation a:over{
    color:white;
}
.navigation .head-title{
    font-size: 21px;
    border-bottom: 1px solid #444;
}
.navigation .glyphicon{
    font-size: 25px;
    display: block;
    width: 100%;
}
#user_logged{
    text-decoration: center;
    background: #1C1C1F;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #444;
    width: 75%;
}
#user_logged .user-image{
    background: #F3F6FF;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;
    overflow: hidden;

}
.icon-menu{
    font-size: 18px;
}
#user_logged .user-image img{
    width: 57px; 
}
.btn-logout{
    cursor: pointer;
}
#tasks{
    margin-top: 10px;
    border-radius: 9px;
    padding: 4px 17px;
    height: 75px;
    cursor: pointer;
    font-size: 12px;
}
.bg-danger {
    background-color: #C23F3E;
    color:#F3F6FF;
}
.bg-info {
    background-color: #53B4BD;
    color:#F3F6FF;
}
.btn-green{
    width: 100%;
    background-color: #9ABE05;
    color: #F3F6FF;
    font-weight: bold;
}
.btn-green:hover{
    width: 100%;
    background-color: #9ABE05;
    color: #F3F6FF;
    font-weight: bold;
}
.btn-red{
    width: 100%;
    background-color: red;
    color: white;
    font-weight: bold;
}
.btn-red:hover{
    width: 100%;
    background-color: #C23F3E;
    color: #F3F6FF;
    font-weight: bold;
}
.btn-index{
    background-color: #53B4BD;
    color: #F3F6FF;
    font-weight: bold;
}
.btn-nivel{
    background-color: #F3F6FF;
    color: #1C1C1F;
    font-weight: bold;
}
.btn-index:hover{
    background-color: #53B4BD;
    color: #F3F6FF;
    
}
#logo{
    font-size: 60px;
}
.jumbotron{
    background:#F3F6FF;
}
.list-tareas{
    padding-top: 20px;
}

.btn-evaluar{
    background-color: #9ABE05;
    color: #F3F6FF;
   
}
.btn-juego{
    background-color:#1C1C1F;
    color:#F3F6FF ;
}
.btn-juego:hover{
    background-color:#1C1C1F;
    color:#F3F6FF ;
}

.card-img-top{
    height: 100px;
}

.icon-home{
    color:#53B4BD;
}
.fc-nonbusiness {
    background: red;
}
#nivel1{
    background-color: #96E6B3;
    border-radius: 17px;
    padding: 10px;
}
#nivel2{
    background-color: #D67D7C;
    border-radius: 17px;
    padding: 10px;
}
#nivel3{
    background-color: #CD6160;
    border-radius: 17px;
    padding: 10px;
}
#agenda{
    background-color: #D5FCD4;
    border-radius: 17px;
    padding: 10px;
}
#tareas_planificar{
    cursor: pointer;
    background-color: #9ABE05;
    border-radius: 14px;
    padding: 10px;
    text-align: center;
    color: #F3F6FF;
}
#tareas_planificadas{
    cursor: pointer;
    background-color: #9ABE05;
    border-radius: 14px;
    padding: 10px;
    text-align: center;
    color: #F3F6FF;
}
.descripcion_solucion{
    margin: 13px 50px;
    text-align: left;
    font-size: 16px;
}
.fc-today{
    background-color: #F3F6FF;
}
#reloj{
    font-size: 20px;
    font-weight: bold;
}

#partidas_buenas{
    background-color: #9ABE05;
    color: #F3F6FF;
    margin-top: 10px;
    border-radius: 9px;
    padding: 4px 17px;
    height: auto;
    
}
#partidas_malas{
    
    background-color:red;
    color: #F3F6FF;
    margin-top: 10px;
    border-radius: 9px;
    padding: 4px 17px;
    height: auto;
    
}